@use "./colors" as *;
@use "./mixins" as mixins;
@use "./variables" as *;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100dvw;
}

body {
  background-color: $color-gray2;
  font-family: $font-lora;
  font-size: 1.7rem;
  font-style: normal;
  font-weight: normal;
  line-height: 1.882;
  color: $color-black;
  margin: 0;
  padding: 0;
}

header {
  a {
    &.active {
      color: $color-white;
    }
  }
}

a {
  color: $color-secondary-pink;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
  line-height: inherit;

  &:hover,
  &:focus,
  &:active {
    color: $color-black;
  }

  &:hover,
  &:active {
    outline: 0;
  }
}

h1,
h2,
h3,
h4 {
  font-family: $font-frank-ruhl-libre;
  font-weight: 500;
  font-style: normal;
  color: #000000;
  font-variant-ligatures: common-ligatures;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3 {
  margin-top: 6rem;
  margin-bottom: 1.6rem;

  @include mixins.breakpoint-down($breakpoint-600) {
    margin-top: 6rem;
  }
}

h4 {
  margin-top: 4.8rem;
  margin-bottom: 1.2rem;

  @include mixins.breakpoint-down($breakpoint-600) {
    margin-top: 4rem;
    margin-bottom: 0.8rem;
  }
}

h1 {
  font-size: 2.4rem;
  line-height: 1.1667;
}

h2 {
  font-size: 3.6rem;
  line-height: 1.222;
  letter-spacing: -0.1rem;

  @include mixins.breakpoint-down($breakpoint-600) {
    font-size: 3.3rem;
    letter-spacing: -0.07rem;
  }
}

h3 {
  font-size: 2.4rem;
  line-height: 1.1667;
}

h4 {
  font-size: 1.8rem;
  line-height: 1.333;
}

p {
  margin-bottom: 3.2rem;
}

button {
  @include mixins.button;
}

/* ===================================================================
 * # React Slick slider
 * ------------------------------------------------------------------- */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  inset-inline-start: 0;
  top: 0;
  display: block;
  margin-inline-start: auto;
  margin-inline-end: auto;
  transform: translate3d(0, 0, 0);
}

.slick-slide {
  outline: none;
  display: block;
  float: inline-start;
  height: 100%;
  min-height: 1px;
}

.slick-dots {
  display: block;
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  bottom: 3.6rem;
  inset-inline-end: 4rem;

  li {
    display: inline-block;
    width: 27px;
    height: 27px;
    margin: 0;
    padding: 9px;
    cursor: pointer;

    button {
      display: block;
      width: 10px;
      height: 10px;
      line-height: 10px;
      border-radius: 50%;
      background-color: rgba(0, 0, 0, 0.4);
      border: none;
      padding: 0;
      margin: 0;
      cursor: pointer;
      font: 0/0 a;
      text-shadow: none;
      color: transparent;

      &:hover,
      &:focus {
        outline: none;
      }
    }

    &.slick-active,
    &:hover {
      button {
        background-color: #cf1767;
      }
    }
  }
}

@include mixins.breakpoint-down($breakpoint-800) {
  .slick-dots {
    margin-top: 4rem;
    position: static;
  }
}
