@use "./variables" as *;

@mixin breakpoint-down($breakpoint) {
  @media screen and (max-width: $breakpoint) {
    @content;
  }
}

@mixin row {
  width: 89%;
  max-width: 1200px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;

  .row {
    width: auto;
    max-width: none;
    margin-inline-start: -20px;
    margin-inline-end: -20px;
  }

  @include breakpoint-down($breakpoint-1200) {
    .row {
      margin-inline-start: -16px;
      margin-inline-end: -16px;
    }
  }

  @include breakpoint-down($breakpoint-600) {
    width: auto;
    padding-inline-start: 25px;
    padding-inline-end: 25px;

    .row {
      margin-inline-start: -10px;
      margin-inline-end: -10px;
      padding-inline-start: 0;
      padding-inline-end: 0;
    }
  }

  @include breakpoint-down($breakpoint-400) {
    .row {
      margin-inline-start: 0;
      margin-inline-end: 0;
    }
  }
}

@mixin column {
  -webkit-flex: 1 1 0%;
  -ms-flex: 1 1 0%;
  flex: 1 1 0%;
  padding: 0 20px;

  @include breakpoint-down($breakpoint-1200) {
    padding: 0 16px;
  }

  @include breakpoint-down($breakpoint-600) {
    padding: 0 10px;
  }

  @include breakpoint-down($breakpoint-400) {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding: 0;
  }
}

@mixin medium-full {
  @include breakpoint-down($breakpoint-1200) {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@mixin large-5 {
  -webkit-flex: 0 0 41.66667%;
  -ms-flex: 0 0 41.66667%;
  flex: 0 0 41.66667%;
  max-width: 41.66667%;
}

@mixin large-half {
  -webkit-flex: 0 0 50%;
  -ms-flex: 0 0 50%;
  flex: 0 0 50%;
  max-width: 50%;
}

@mixin large-7 {
  -webkit-flex: 0 0 58.33333%;
  -ms-flex: 0 0 58.33333%;
  flex: 0 0 58.33333%;
  max-width: 58.33333%;
}

@mixin large-9 {
  -webkit-flex: 0 0 75%;
  -ms-flex: 0 0 75%;
  flex: 0 0 75%;
  max-width: 75%;
}

@mixin large-full {
  -webkit-flex: 0 0 100%;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;
  max-width: 100%;
}

@mixin tab-full {
  @include breakpoint-down($breakpoint-800) {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@mixin mob-full {
  @include breakpoint-down($breakpoint-600) {
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@mixin block-large-1-3 {
  > div {
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.33333%;
  }
}

@mixin block-medium-1-2 {
  @include breakpoint-down($breakpoint-1200) {
    > div {
      -webkit-flex: 0 0 50%;
      -ms-flex: 0 0 50%;
      flex: 0 0 50%;
      max-width: 50%;
    }
  }
}

@mixin block-tab-full {
  @include breakpoint-down($breakpoint-800) {
    > div {
      -webkit-flex: 0 0 100%;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
    }
  }
}

@mixin heading-block {
  position: relative;

  @include breakpoint-down($breakpoint-1024) {
    max-width: 800px;
  }

  @include breakpoint-down($breakpoint-800) {
    max-width: 600px;
  }
}

@mixin heading-block-center {
  max-width: 940px;
  text-align: center;
}

// Colors

@mixin color-white {
  color: #ffffff;
}

// Typography

@mixin section-heading {
  font-family: $font-roboto;
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 1.176;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  margin-top: 0;
  padding-top: 3.2rem;
  margin-bottom: 8rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 150px;
    height: 2px;
    background-color: #cf1767;
    position: absolute;
    top: 0;
    inset-inline-start: 0;
  }

  @include breakpoint-down($breakpoint-800) {
    font-size: 1.6rem;
    padding-top: 0;
    padding-bottom: 3.2rem;
    text-align: center;

    &::before {
      top: auto;
      bottom: 0;
      inset-inline-start: 50%;
      margin-inline-start: -75px;
    }
  }

  @include breakpoint-down($breakpoint-600) {
    margin-bottom: 6.8rem;
  }
}

@mixin section-heading-center-bottom {
  text-align: center;
  padding-top: 0;
  padding-bottom: 3.2rem;

  &::before {
    margin-inline-start: -75px;
    top: auto;
    bottom: 0;
    inset-inline-start: 50%;
  }
}

@mixin section-desc {
  font-family: $font-frank-ruhl-libre;
  font-size: 5.4rem;
  font-weight: 400;
  line-height: 1.259;
  letter-spacing: -0.05rem;
  color: #000000;

  @include breakpoint-down($breakpoint-1024) {
    font-size: 4.8rem;
  }

  @include breakpoint-down($breakpoint-600) {
    font-size: 4rem;
  }

  @include breakpoint-down($breakpoint-400) {
    font-size: 3.4rem;
  }
}

@mixin item-title {
  font-family: $font-frank-ruhl-libre;
  font-size: 3.6rem;
  font-weight: 500;
  line-height: 1.222;
  margin-top: 0;
  color: #000000;

  @include breakpoint-down($breakpoint-1200) {
    font-size: 3rem;
  }

  @include breakpoint-down($breakpoint-400) {
    font-size: 2.8rem;
  }
}

@mixin lead-paragraph {
  font-family: $font-lora;
  font-weight: 300;
  font-size: 2.4rem;
  line-height: 1.833;
  margin-bottom: 3.6rem;
  color: #000000;

  @include breakpoint-down($breakpoint-1200) {
    font-size: 2.2rem;
  }
}

// Buttons

@mixin button {
  margin-bottom: 1.6rem;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  height: 6rem;
  line-height: 5.6rem;
  padding: 0 3.2rem;
  margin-block-start: 0;
  margin-inline-end: 0.4rem;
  margin-block-end: 1.6rem;
  margin-inline-start: 0;
  color: #000000;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #d3d3d3;
  border: 0.2rem solid #d3d3d3;

  &:hover,
  &:focus {
    background-color: #c3c3c3;
    border-color: #c3c3c3;
    color: #000000;
    outline: 0;
  }
}

@mixin btn-primary {
  background: #000000;
  border-color: #000000;
  color: #ffffff;

  &:hover,
  &:focus {
    background: #cf1767;
    border-color: #cf1767;
  }
}

@mixin btn-stroke {
  background: transparent !important;
  border: 0.2rem solid #000000;
  color: #000000;

  &:hover,
  &:focus {
    background: #000000 !important;
    border: 0.2rem solid #000000;
    color: #ffffff;
  }
}

// Helpers

@mixin full-width {
  width: 100%;
}
