$breakpoint-350: 350px;
$breakpoint-400: 400px;
$breakpoint-600: 600px;
$breakpoint-700: 700px;
$breakpoint-800: 800px;
$breakpoint-900: 900px;
$breakpoint-1000: 1000px;
$breakpoint-1024: 1024px;
$breakpoint-1200: 1200px;
$breakpoint-1300: 1300px;
$breakpoint-1400: 1400px;

$font-roboto: var(--font-roboto), sans-serif;
$font-lora: var(--font-lora), serif;
$font-frank-ruhl-libre: var(--font-frank-ruhl-libre), serif;
