@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as *;

.about {
  padding-top: 19.2rem;
  padding-bottom: 16.8rem;
  background-color: #ffffff;

  > div {
    &:first-of-type {
      margin-bottom: 15.2rem;
    }
  }

  h2 {
    @include mixins.section-heading;
  }

  .heading-row,
  .about-me-row,
  .about-me-buttons {
    @include mixins.row;

    max-width: 1140px;
  }

  .heading-row {
    @include mixins.heading-block;
  }

  .heading-column {
    @include mixins.column;
    @include mixins.large-full;
  }

  .about-me-column {
    @include mixins.column;
    @include mixins.large-full;

    -webkit-columns: 2 360px;
    -moz-columns: 2 360px;
    columns: 2 360px;
    column-gap: 64px;

    p {
      &:first-of-type {
        @include mixins.lead-paragraph;
      }
    }

    @include mixins.breakpoint-down($breakpoint-1024) {
      column-gap: 40px;
    }
  }

  .about-me-buttons {
    @include mixins.row;
    margin-top: 4.8rem;

    > div {
      @include mixins.column;
      @include mixins.large-half;
      @include mixins.tab-full;

      &:first-of-type {
        padding-inline-end: 32px;

        @include mixins.breakpoint-down($breakpoint-1024) {
          padding-inline-end: 20px;
        }

        @include mixins.breakpoint-down($breakpoint-900) {
          padding-inline-end: 16px;
        }

        @include mixins.breakpoint-down($breakpoint-600) {
          padding-inline-end: 10px;
        }

        @include mixins.breakpoint-down($breakpoint-400) {
          padding-inline-end: 0;
        }
      }

      &:last-of-type {
        padding-inline-start: 32px;

        @include mixins.breakpoint-down($breakpoint-1024) {
          padding-inline-start: 20px;
        }

        @include mixins.breakpoint-down($breakpoint-900) {
          padding-inline-start: 16px;
        }

        @include mixins.breakpoint-down($breakpoint-600) {
          padding-inline-start: 10px;
        }

        @include mixins.breakpoint-down($breakpoint-400) {
          padding-inline-start: 0;
        }
      }
    }

    .btn-stroke,
    .btn-primary {
      @include mixins.button;
      @include mixins.full-width;
    }

    .btn-stroke {
      @include mixins.btn-stroke;
    }

    .btn-primary {
      @include mixins.btn-primary;
    }
  }

  @include mixins.breakpoint-down($breakpoint-1200) {
    padding-top: 17.2rem;
    padding-bottom: 15.6rem;
  }

  @include mixins.breakpoint-down($breakpoint-800) {
    padding-top: 16rem;
  }

  @include mixins.breakpoint-down($breakpoint-400) {
    > div {
      &:first-of-type {
        margin-bottom: 14rem;
      }
    }
  }
}

.experience-row {
  @include mixins.row;
  @include mixins.heading-block;

  margin-top: 1.6rem;

  > div {
    &:first-of-type {
      padding-inline-end: 40px;

      @include mixins.breakpoint-down($breakpoint-1200) {
        padding-inline-end: 30px;
      }

      @include mixins.breakpoint-down($breakpoint-1024) {
        padding-inline-end: 16px;
      }

      @include mixins.breakpoint-down($breakpoint-900) {
        margin-bottom: 9.6rem;
      }

      @include mixins.breakpoint-down($breakpoint-600) {
        padding-inline-end: 10px;
      }

      @include mixins.breakpoint-down($breakpoint-400) {
        padding-inline-end: 0;
      }
    }

    &:last-of-type {
      padding-inline-start: 40px;

      @include mixins.breakpoint-down($breakpoint-1200) {
        padding-inline-start: 30px;
      }

      @include mixins.breakpoint-down($breakpoint-1024) {
        padding-inline-start: 16px;
      }

      @include mixins.breakpoint-down($breakpoint-600) {
        padding-inline-start: 10px;
      }

      @include mixins.breakpoint-down($breakpoint-400) {
        padding-inline-start: 0;
      }
    }
  }
}

.experience-column {
  @include mixins.column;
  @include mixins.large-half;
  @include mixins.tab-full;
}

.timeline {
  padding-top: 4.8rem;
  position: relative;

  &::before {
    content: "";
    display: block;
    width: 1px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.12);
    position: absolute;
    inset-inline-start: 0;
    top: 0;
  }

  &::after {
    content: "";
    display: block;
    width: 5.6rem;
    height: 1px;
    background-color: rgba(0, 0, 0, 0.12);
    position: absolute;
    inset-inline-start: 1px;
    top: 0;
  }

  .icon-wrap {
    display: block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.25);
    position: absolute;
    top: -2.2rem;
    inset-inline-start: 5.6rem;

    @include mixins.breakpoint-down($breakpoint-1200) {
      inset-inline-start: 4.4rem;
    }

    @include mixins.breakpoint-down($breakpoint-900) {
      inset-inline-start: 5.6rem;
    }

    @include mixins.breakpoint-down($breakpoint-600) {
      inset-inline-start: 4.4rem;
    }

    @include mixins.breakpoint-down($breakpoint-400) {
      inset-inline-start: 2.8rem;
    }
  }

  .work-icon,
  .education-icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    transform: translate3d(-50%, -50%, 0);
    position: absolute;
    inset-inline-start: 50%;
    top: 50%;
  }

  .block {
    position: relative;
    padding-inline-start: 5.6rem;
    padding-bottom: 0.8rem;
    margin-top: 2.8rem;
    min-height: 35.6rem;

    &:last-child {
      padding-bottom: 0;
    }

    @include mixins.breakpoint-down($breakpoint-1200) {
      padding-inline-start: 4.4rem;
    }

    @include mixins.breakpoint-down($breakpoint-900) {
      min-height: 0;
      padding-inline-start: 5.6rem;
    }

    @include mixins.breakpoint-down($breakpoint-600) {
      padding-inline-start: 4.4rem;
    }

    @include mixins.breakpoint-down($breakpoint-400) {
      padding-inline-start: 2.8rem;
    }
  }

  .bullet {
    content: "";
    display: block;
    width: 3px;
    height: 4.8rem;
    background-color: #000000;
    position: absolute;
    inset-inline-start: -1px;
    top: 8px;
  }

  .header {
    margin-bottom: 3.2rem;

    .timeframe,
    h4 {
      font-family: $font-roboto;
    }

    h3 {
      margin-bottom: 0;
    }

    h4 {
      font-size: 2.1rem;
      font-weight: 400;
      line-height: 1.333;
      margin-top: 0;

      @include mixins.breakpoint-down($breakpoint-1200) {
        font-size: 1.8rem;
      }
    }
  }

  .timeframe {
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.714;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-bottom: 0.8rem;
    color: #000000;
  }

  .name {
    @include mixins.item-title;
  }
}
