@use "../../styles/colors" as *;
@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as *;

.header {
  margin-block-start: 2rem;
  min-height: none;
  background-color: $color-gray2;
  position: sticky;
  top: 0;
  text-align: center;
  padding-block: 1.8rem;
  z-index: 100;

  ul,
  li {
    list-style: none;
  }

  ul {
    display: flex;
    justify-content: center;
    gap: 4rem;
  }

  a {
    color: $color-white-50;
    line-height: calc(78px - (18px * 2));
    text-decoration: none;
    font-family: $font-roboto;
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.3rem;

    &:hover,
    &:focus,
    &:active {
      color: $color-white;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.header-menu-toggle {
  display: none;
  height: 42px;
  width: 42px;
  line-height: 42px;
  font-family: $font-lora;
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.3s;
  position: absolute;
  inset-inline-end: 32px;
  top: 18px;
  background-color: inherit;
  border: none;
  padding: 0;
  margin: 0;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: inherit;
  }

  span {
    display: block;
    width: 24px;
    height: 2px;
    margin-top: -1px;
    background-color: #ffffff;
    transition: all 0.5s;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;
    position: absolute;
    top: 50%;
    inset-inline-start: 9px;
    inset-inline-end: auto;
    bottom: auto;

    &::before,
    &::after {
      content: "";
      width: 100%;
      height: 100%;
      background-color: inherit;
      position: absolute;
      inset-inline-start: 0;
      transition: all 0.5s;
    }

    &::before {
      top: -9px;
    }

    &::after {
      bottom: -9px;
    }
  }

  &.is-clicked {
    span {
      background-color: rgba(255, 255, 255, 0);
      transition: all 0.1s;

      &::before,
      &::after {
        background-color: white;
      }

      &::before {
        top: 0;
        -webkit-transform: rotate(135deg);
        transform: rotate(135deg);
      }

      &::after {
        bottom: 0;
        -webkit-transform: rotate(225deg);
        transform: rotate(225deg);
      }
    }
  }
}

@include mixins.breakpoint-down($breakpoint-800) {
  .header {
    a {
      font-size: 1.2rem;
    }
  }
}

@include mixins.breakpoint-down($breakpoint-800) {
  .header {
    margin-block-start: 0;
    padding-block: 0;
    min-height: 78px;

    nav {
      max-height: 0;
      overflow: hidden;
      transition: max-height 700ms ease;

      &.is-clicked {
        max-height: 1000px;
      }

      ul {
        margin: 120px 44px 64px;
        display: block;
        text-align: start;
        border-top: 1px solid rgba(255, 255, 255, 0.05);
      }

      li {
        display: block;
        border-bottom: 1px solid rgba(255, 255, 255, 0.05);
      }
    }

    a {
      display: block;
      padding: 18px 0;
      line-height: 20px;
    }
  }

  .header-menu-toggle {
    display: block;
  }
}
