@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as *;

.philosophy {
  padding-top: 19.2rem;
  padding-bottom: 16rem;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-image: url(/assets/images/services-bg.jpg);
  color: rgba(255, 255, 255, 0.7);
  position: relative;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    background-color: #050505;
    opacity: 0.85;
  }

  .overlay {
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
    background: radial-gradient(circle, rgba(0, 0, 0, 0) 0%, black 80%);
  }

  .headingRow {
    @include mixins.row;
    @include mixins.heading-block;
    @include mixins.heading-block-center;
  }

  .headingColumn {
    @include mixins.column;
    @include mixins.large-full;
  }

  h2 {
    @include mixins.section-heading;
    @include mixins.section-heading-center-bottom;
  }

  a {
    color: #cf1767;

    &:hover,
    &:focus,
    &:active {
      color: #ffffff;
    }
  }

  .sectionDescription {
    @include mixins.section-desc;
  }

  h2,
  .sectionDescription {
    @include mixins.color-white;
  }

  .philosophyList {
    @include mixins.row;

    max-width: 1240px;
    margin-top: 8.8rem;
    counter-reset: ctr;
    position: relative;

    @include mixins.breakpoint-down($breakpoint-1200) {
      max-width: 900px;
    }

    @include mixins.breakpoint-down($breakpoint-800) {
      max-width: 600px;
      margin-top: 8rem;
    }

    @include mixins.block-large-1-3;
    @include mixins.block-medium-1-2;
    @include mixins.block-tab-full;
  }

  .philosophyItemContainer {
    @include mixins.column;

    margin-bottom: 2.4rem;
    padding: 0 30px;
    min-height: 44.8rem;

    @include mixins.breakpoint-down($breakpoint-1400) {
      padding: 0 20px;
    }

    @include mixins.breakpoint-down($breakpoint-800) {
      padding: 0 16px;
      min-height: 0;
    }

    @include mixins.breakpoint-down($breakpoint-600) {
      padding: 0 10px;
    }

    @include mixins.breakpoint-down($breakpoint-400) {
      padding: 0;
    }
  }

  .philosophyItemContent {
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    padding-top: 3.6rem;

    &::before {
      display: block;
      content: counter(ctr, decimal-leading-zero) ".";
      counter-increment: ctr;
      margin-bottom: 4.8rem;
      font-family: $font-roboto;
      font-weight: 300;
      font-size: 8rem;
      line-height: 1;
      color: #cf1767;
    }

    @include mixins.breakpoint-down($breakpoint-1400) {
      &::before {
        font-size: 7.2rem;
      }
    }

    @include mixins.breakpoint-down($breakpoint-1200) {
      &::before {
        font-size: 6.8rem;
      }
    }

    @include mixins.breakpoint-down($breakpoint-800) {
      &::before {
        font-size: 5.4rem;
      }
    }

    @include mixins.breakpoint-down($breakpoint-400) {
      &::before {
        font-size: 4.8rem;
      }
    }
  }

  h3 {
    @include mixins.item-title;

    font-weight: 400;
    color: #ffffff;
  }

  @include mixins.breakpoint-down($breakpoint-800) {
    padding-top: 16rem;
    padding-bottom: 16rem;
  }
}
