@use "../../styles/mixins" as mixins;
@use "../../styles/variables" as *;

.intro {
  width: 100%;
  height: calc(100dvh - 98px);
  min-height: 792px;
  background-color: #050505;

  @include mixins.breakpoint-down($breakpoint-1024) {
    max-height: 800px;
  }

  @include mixins.breakpoint-down($breakpoint-600) {
    max-height: none;
  }

  @include mixins.breakpoint-down($breakpoint-400) {
    min-height: 656px;
  }
}

.intro-content {
  @include mixins.row;

  height: 100%;
  max-width: 1140px;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;

  @include mixins.breakpoint-down($breakpoint-1200) {
    max-width: 1000px;
  }

  @include mixins.breakpoint-down($breakpoint-800) {
    width: 88%;
    padding-top: 8rem;
  }

  @include mixins.breakpoint-down($breakpoint-600) {
    width: auto;
  }
}

.intro-text {
  @include mixins.column;
  @include mixins.large-9;
  @include mixins.mob-full;

  -webkit-transform: translate3d(0, -6.6rem, 0);
  transform: translate3d(0, -6.6rem, 0);
  position: static;
  z-index: 1;

  h1 {
    font-family: $font-roboto;
    font-size: 2.4rem;
    font-weight: 500;
    line-height: 1.333;
    color: #cf1767;
    margin-top: 0;
  }

  h2 {
    font-size: 7.8rem;
    font-weight: 500;
    line-height: 1.179;
    color: #ffffff;
    margin-top: 0;
  }

  @include mixins.breakpoint-down($breakpoint-1400) {
    h1 {
      font-size: 2.2rem;
    }

    h2 {
      font-size: 7.2rem;
    }
  }

  @include mixins.breakpoint-down($breakpoint-1200) {
    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 7rem;
    }
  }

  @include mixins.breakpoint-down($breakpoint-1024) {
    h2 {
      font-size: 6.2rem;
    }
  }

  @include mixins.breakpoint-down($breakpoint-900) {
    h2 {
      font-size: 6rem;
    }
  }

  @include mixins.breakpoint-down($breakpoint-800) {
    h1 {
      font-size: 1.8rem;
    }

    h2 {
      font-size: 5.6rem;
    }
  }

  @include mixins.breakpoint-down($breakpoint-700) {
    h2 {
      font-size: 5rem;
    }
  }

  @include mixins.breakpoint-down($breakpoint-600) {
    -webkit-transform: translate3d(0, -4.8rem, 0);
    transform: translate3d(0, -4.8rem, 0);

    h2 {
      font-size: 4.8rem;
    }
  }

  @include mixins.breakpoint-down($breakpoint-400) {
    h2 {
      font-size: 4.5rem;
    }
  }

  @include mixins.breakpoint-down($breakpoint-350) {
    h2 {
      font-size: 4.2rem;
    }
  }
}

.intro-scroll {
  font-family: $font-roboto;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 2;
  text-transform: uppercase;
  letter-spacing: 0.3rem;
  position: absolute;
  bottom: 8rem;
  inset-inline-start: 24px;
  z-index: 1;

  a {
    display: inline-block;
    color: rgba(255, 255, 255, 0.3);
    position: relative;
    padding-inline-end: 8.8rem;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      inset-inline-end: 0;
      height: 1px;
      width: 72px;
      background-color: #cf1767;
    }
  }

  @include mixins.breakpoint-down($breakpoint-600) {
    font-size: 1.1rem;
    inset-inline-start: 30px;
  }
}

.intro-grid {
  background-size: 24px 24px;
  background-repeat: repeat;
  opacity: 0.15;
  position: absolute;
  top: 18%;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 30%;

  @include mixins.breakpoint-down($breakpoint-800) {
    top: 20%;
    opacity: 0.1;
  }

  @include mixins.breakpoint-down($breakpoint-700) {
    inset-inline-start: 15%;
  }

  @include mixins.breakpoint-down($breakpoint-600) {
    inset-inline-start: 10%;
  }
}

.intro-pic {
  background-color: #02182c;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  position: absolute;
  top: 7%;
  inset-inline-end: 0;
  bottom: 0;
  inset-inline-start: 50%;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    inset-inline-start: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    opacity: 0.2;
  }

  @include mixins.breakpoint-down($breakpoint-800) {
    top: 12%;
    inset-inline-start: 40%;

    &::before {
      opacity: 0.4;
    }
  }

  @include mixins.breakpoint-down($breakpoint-700) {
    inset-inline-start: 30%;
  }

  @include mixins.breakpoint-down($breakpoint-600) {
    inset-inline-start: 20%;
  }
}
